PRESENTATION_ENGINE_SHAREPOINT_TEMPLATE_URL=https://mintmanagement.sharepoint.com/:p:/r/sites/Marketing/Templates/FY27%20AI-Ready%20v3.0.potx?d=w785a19081bcc4f2bac78c6a49f8ab92e&csf=1&web=1&e=k5qPjw
PRESENTATION_ENGINE_TEMPLATE_FILE_NAME=FY27 AI-Ready v3.0.potx
PRESENTATION_ENGINE_CONVERTED_TEMPLATE_FILE_NAME=FY27 AI-Ready v3.0.work.pptx
PRESENTATION_ENGINE_LOG_LEVEL=INFO

DEVELOPMENT_MODE=true
2
LOCAL_TEMPLATE_ROOT=C:\Users\NdivhuwoNeswiswi\OneDrive - Mint Management Technologies\Projects\MiniDeckBuilder\-Mint-Deck-Builder\MintDeck\python-presentation-engine